<%= render 'layouts/application' %>
<div class="innerpage_banner">
  <!-- <img src="img/create.png"> -->
  <%= image_tag("create.png" , :alt => 'create.png') %>
  <div class="container">
    <div class="row">
      <div class="banner-innerpage">
        <h2>Be<span>St</span>aff</h2>
      </div>
    </div>
  </div>
  <div class="content inner-page">
    <div class="container">
      <div class="row">
        <h4><span><img src="img/line.png"></span>New Employee Page<span><!-- <img src="img/right.png"> -->
        <%= image_tag("right.png" , :alt => 'right.png') %>
        </span></h4>
        <span class="q1">Company will add new employee to their team on this page.</span>
        <form class="form-horizontal add-employee" role="form">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Name</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Email</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Enter the skill of employee</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Enter the time availability</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Other fields</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group col-md-12">
            <span class="col-sm-offset-2 q2">By submitting this form you agree to ESP <span class="c1">Terms of Service.</span></span>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Add Employee</button>
            </div>
          </div>
          
          
        </div>
      </div>
      
    </div>
    <%= render 'layouts/footer' %>