<%= render 'layouts/application' %>
      <div class="innerpage_banner">
        <!-- <img src="img/ourplan.png"> -->
        <%= image_tag("ourplan.png" , :alt => 'ourplan.png') %>
        <div class="container">
          <div class="row">
            <div class="banner-innerpage">

              <h2>Our<span>Plan</span></h2>
            </div>
          </div>
        </div>
      

      </div><!-- end .innerpage_banner -->



    </div><!-- end. header -->
    <div class="content inner-page">
      <div class="container">
        <div class="row">
          <h3>Select Subscription Plan (Stripe)</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et sapien porttitor, aliquam lectus in, dapibus enim. Suspendisse potenti. Proin eleifend, erat et lobortis venenatis, arcu magna iaculis dolor, ac mollis tellus metus nec nisl. Sed eu consequat sapien. Fusce sit amet suscipit orci. Nam risus nibh, malesuada et dictum sed, lobortis quis velit. In orci ex, sodales nec ante in, faucibus dictum turpis. Nunc placerat sem vel libero commodo. </p>


          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">1 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Monthly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->

            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">6 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Quaterly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">Yearly Plan</p>
                <p class="plan-price">$<span>120</span>/month</p>
                <p class="plan-month">Yearly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
          </div>
     <div class="row">
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">1 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Monthly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->

            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">6 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Quaterly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">Yearly Plan</p>
                <p class="plan-price">$<span>120</span>/month</p>
                <p class="plan-month">Yearly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">1 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Monthly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->

            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">6 Month Plan</p>
                <p class="plan-price">$<span>99</span>/month</p>
                <p class="plan-month">Quaterly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
            <div class="col-sm-3">
              <div class="plan-main">
              <div class="plan">
                <p class="plan-duration">Yearly Plan</p>
                <p class="plan-price">$<span>120</span>/month</p>
                <p class="plan-month">Yearly</p>
              </div><!-- end .plan -->
              <div class="overlay-plan">
                <button>Choose Plan</button>
              </div>
            </div><!-- end .plan-main -->
            </div>
          </div>

    
    </div>
  

</div>
<%= render 'layouts/footer' %>