<%= render 'layouts/application' %>
<div class="container">
    <p>
      You reset password token is expired or inavlid, please request for a new reset password token
    <br>  
    Click the link below to get a new reset password token
    </p>
    <p>
      <a href="/forgot_password">Forgot Password</a>
    </p>
