<%= render 'layouts/application' %>
<div class="container">
	<% flash.each do |name, msg| %>
      <div class="">
        <h4 align="center" class="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %>
        </h4>
      </div>
    <% end %>
    <p>
      You reset password token is expired or inavlid, please request for a new reset password token
    <br>  
    Click the link below to get a new reset password token
    </p>
    <p>
      <a href="/forgot_password">Forgot Password</a>
    </p>
<%= render 'layouts/footer' %>                
