   <%= render 'layouts/application' %>
    <div class="container">

        
      <!-- Main component for a primary marketing message or call to action -->
      <h2>Comming Soon</h2>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
