   <%= render 'layouts/application' %>
    <div class="container">

        
      <!-- Main component for a primary marketing message or call to action -->
      <h3 > Hi <%= user.first_name %> </h3> <a href="/log_out">Logout</a>
      <h3>Welcome to Employee Placement System</h3>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
