<%= render 'layouts/application' %>
 		<div class="content inner-page">
          <div class="container">
            <div class="row">
              <h4><span><%= image_tag("line.png" , :alt => 'line.png') %></span>New Employee Page<span><%= image_tag("right.png" , :alt => 'right.png') %></span></h4>
              <span class="q1">Company will add new employee to their team on this page.</span>
              <form class="form-horizontal add-employee" role="form">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="email">Name</label>
                  <div class="col-sm-7">
                    <input type="email" class="form-control" id="email" placeholder="Enter name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Email</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Enter the skill of employee</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter skill">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Enter the time availability</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter availability">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">Other fields</label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter fields">
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <span class="col-sm-offset-2 q2">By submitting this form you agree to ESP <span class="c1">Terms of Service.</span></span>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Add Employee</button>
                  </div>
                </div>
                
                
              </div>
            </div>
            
          </div>
<%= render 'layouts/footer' %>
