<%= render 'layouts/application' %>
        <%= image_tag("create.png" , :alt => 'create.png') %>
        <div class="container">
          <div class="row">
            <div class="banner-innerpage">
              <h2>Be<span>St</span>aff</h2>
            </div>
          </div>
        </div>
        
        </div><!-- end .innerpage_banner -->
        </div><!-- end. header -->

        <h2 class="text-center">Cooming Soon</h2>
<%= render 'layouts/footer' %>