p {
	color: #2a2a2a;
	font-size: Open Sans;
	font-size: 17px;
	line-height: 28px;
}
h3 {
	color: #2a2a2a !important;
	font-size: 35px !important;
	font-weight: bold !important;
	margin-bottom: 0 !important;
}
.main-c1 {
    width:100%;
    float:left;
}
.three-sap {
    width:80%;
}
.header {
    float: left;
    margin: 25px 0;
    width: 100%;
}
.header .navbar {
    background: none;
    border: medium none;
    box-shadow: none;
    margin: 0;
}
.banner-inner p {
	font-size: 13px;
	color: #fff;
}
span.bottom-bar {
    background: #008ed6 none repeat scroll 0 0;
    clear: both;
    display: inline-block;
    height: 2px;
    width: 50px;
    margin-bottom: 5px;
}
.header .navbar li a {
    color: #313131 !important;
    font-family: open sans;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    text-shadow: none !important;
    text-transform: uppercase;
}
.content a {
    color: #008ed6;
    display: block;
    font-size: 17px;
    margin-top: 30px;
    text-decoration: underline;
}
.banner img {
    width: 100%;
}

.banner-inner img{
	width: auto;
	margin-bottom: 20px;
}
.banner {
	 background-attachment: fixed;
    background-image: url("../assets/banner.png");
    /*background-position: 50% 50%;*/
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eaebec;
    float: left;
    min-height: 600px;
    position: relative;
    width: 100%;
}

.banner-inner {
    color: #fff;
    font-family: open sans;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px #1a1818;
    top: 18%;
    width: 100%;
}
.banner h2 {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}
.banner span {
    background: #008ed6;
    display: block;
    height: 2px;
    margin: auto auto 20px;
    width: 80px;
}
.banner-bottom {
    background: rgba(0, 0, 0, 0.36);
    bottom: 0;
    padding: 25px 0;
    position: absolute;
    width: 100%;
}
.banner-bottom li {
   display: table-cell;
    width: 24%;
}
.mt0 {
    float: left;
    margin: 0;
    width: 100%;
}
.banner-bottom select {
    width: 100%;
      height: 50px;
         border: medium none;
    border-radius: 0;
  /*  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;*/
   border-right: 1px solid #39ade8;
    border-bottom: 0 none;
    border-top: 0 none;
    padding-left: 15px;
    color: #2a2a2a;
}
.c2-main {
    background-image: url("../assets/img.jpg");
    position: relative;
    width: 100%;
     background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eaebec;
    min-height: 500px;
    float: left;
   
  

    

}
.section-overlay {
 
    padding-bottom: 250px;
    padding-top: 250px;
}
.porro_inner i {
    text-shadow: 1px 1px 1px #000;
}
.banner input[type="text"] {
    width: 100%;
    height: 50px;
       border: medium none;
    border-radius: 0;
    border-right: 1px solid #39ade8;
    border-bottom: 0;
    padding-left: 15px;
    color: #2a2a2a;
}
.banner-bottom ul {
    border: 2px solid #097cb6;
    height: 54px;
    margin: 0;
    padding: 0;
    display: table;
}
.banner-bottom input[type="submit"]:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #4fc3ff; /* Old browsers */
background: -moz-linear-gradient(top, #0376b0 0%,#4fc3ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0376b0 0%, #4fc3ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom#0376b0 0%, #4fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc3ff', endColorstr='#0376b0',GradientType=0 ); /* IE6-9 */

}
.banner-bottom input[type="submit"] {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #4fc3ff; /* Old browsers */
background: -moz-linear-gradient(top, #4fc3ff 0%, #0376b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4fc3ff 0%,#0376b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4fc3ff 0%,#0376b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc3ff', endColorstr='#0376b0',GradientType=0 ); /* IE6-9 */
border: medium none;
    color: #fff;
    height: 50px;
    padding: 10px;
    width: 170px;
}
.happy_client {
    text-align: center;
    float: left;
    width: 100%;
}
.box1 img {
    border: 1px solid #31a4de;
    border-radius: 50%;
    height: 100px;
 
    width: 100px;
}
.box1 {
    border: 1px solid #686868;
    border-radius: 10px;
    margin: 80px auto auto;
    min-height: 200px;
    padding: 60px 10px 10px;
    position: relative;
    width: 90%;
}
.content {
    float: left;
    width: 100%;
}
.c3 img {
    width: 100%;
}
.box1 span {
  
    left: 0;
    position: absolute;
    right: 0;
    top: -47px;
    z-index: 2147483647;
}
.box-inner h3 {
    color: #009aab !important;
    font-size: 17px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.hp {
    background: #008ed6 none repeat scroll 0 0;
    display: inline-block;
    height: 2px;
    width: 68px;
}

.porro_inner {
    color: #fff;
    font-size: 25px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 38%;
    width: 50%;
}
.porro_inner a:hover {
    text-decoration: none;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.porro_inner a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #4fc3ff; /* Old browsers */
background: -moz-linear-gradient(top, #4fc3ff 0%, #0376b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4fc3ff 0%,#0376b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4fc3ff 0%,#0376b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc3ff', endColorstr='#0376b0',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 15px;
    border: 1px solid #006599;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    font-family: open sans;
  
}

.porro img {
    width: 100%;
}


.footer {
    background: rgba(0, 0, 0, 0) url(footerbg.jpg) repeat scroll 0 0;
    color: #fff;
    float: left;
    margin-top: 40px;
    width: 100%;
    padding-top: 40px;
}
.footer select {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    height: 39px;
    margin: 10px 0;
    padding-left: 10px;
    width: 100%;
    color: #656565;
}
.footer p , .footer li a{
    color: #656565;
    font-size: 17px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer h5 {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}
.footer span {
    background: #008ed6;
    display: block;
    height: 2px;
    margin-bottom: 15px;
    width: 37px;
}
.footer-bottom {
    border-top: 1px solid #5d5d5d;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
.footer-bottom ul li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.footer-bottom ul li i {
    border: 1px solid #5d5d5d;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    padding: 5px;
    width: 30px;
     line-height: 18px;
     font-size: 13px;
}
.footer-bottom ul li a{
    text-decoration: none;
}
.footer-bottom ul li i:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #4fc3ff; /* Old browsers */
background: -moz-linear-gradient(top, #4fc3ff 0%, #0376b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4fc3ff 0%,#0376b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4fc3ff 0%,#0376b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc3ff', endColorstr='#0376b0',GradientType=0 ); /* IE6-9 */
 border: 1px solid #008ed6 ;
}
.footer-bottom small {
    color: #5d5d5d;
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

/***** new ******/

.innerpage_banner {
    width: 100%;
    float: left;
    position: relative;
}
.banner-innerpage {
    position: absolute;
    top: 22%;
}

.innerpage_banner img {
    width: 100%;
}
.banner-innerpage h2 {
    color: #fff;
    font-family: open sans;
    font-size: 47px;
    font-weight: bold;
    text-shadow:1px 1px 1px #000;
}
.banner-innerpage h2 span {
    color: #008ed6;
}
.register h3 {
    color: #505050 !important;
    font-size: 17px !important;
    font-weight: normal !important;
    font-family: open sans;
}
.register h4 span {
    margin: 0 22px;
}
.register h4 {
   color: #008ed6;
   text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 46px;
    text-shadow: 1px 1px 1px #3e3e3e;
}
.register .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 55px;

}
.register .btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #4fc3ff; /* Old browsers */
background: -moz-linear-gradient(top, #4fc3ff 0%, #0376b0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4fc3ff 0%,#0376b0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4fc3ff 0%,#0376b0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fc3ff', endColorstr='#0376b0',GradientType=0 ); /* IE6-9 */
  border: 1px solid #0a7db7;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    height: 45px;
    text-shadow: none;
    width: 210px;
    margin-top: 20px;

}
.register .btn-default:hover {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fc3ff+0,0376b0+100 */
background: #fff; /* Old browsers */
border: 1px solid #0a7db7;
color: #0a7db7;

}
.register h3 a {
    color: #008dd5;
    margin-left: 5px;
    display: inline;
    text-decoration: none;
}
.register .form-group span {
    font-size: 12px;
}
.c1 {
    color: #008dd5;
}
.box-one, .box-two {
    float: left;
    width: 100%;
}

/********* choose plan page starts from here ************/

/***** ll **/
.inner-page h3 {
    color: #4a4a4a !important;
    font-family: open sans;
    font-size: 25px !important;
    text-shadow: 1px 1px 1px #cecece;
    margin-bottom: 15px !important;
}

.inner-page p {
    color: #4a4a4a !important;
    font-size: 14px;
    line-height: 25px;
    font-family: open sans;
}
.plan {
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    box-shadow: 0 0 2px #9c9c9c;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
p.plan-duration {
    color: #008ed6 !important;
    font-size: 15px;
    margin: 25px 0;
}
p.plan-price {
    color: #666666;
    font-size: 29px;
    margin: 45px 0;
}
p.plan-price span {
    color: #000;
    font-size: 51px;
    font-weight: bold;
    
}
p.plan-month {
    background: #323232 none repeat scroll 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff !important;
    font-weight: bold;
    margin: 50px 0 0;
    padding: 10px;
}
.overlay-plan {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
     transition: all 0.5s ease 0s;
     border-radius: 10px;
}
.overlay-plan .selected_plan {
    background: #008ed6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 106px;
    padding: 14px 29px;
    font-family: open sans;
}
.overlay-plan img {
    width: 13%;
}
.three-sap input[type="submit"] {
    clear: both;
    display: block;
    float: none;
    margin: auto;
    text-align: center;
    width: 20%;
}
.overlay-plan > p {
    background: #008ed6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff !important;
    display: inline;
    font-family: open sans;
    font-size: 14px !important;
    font-weight: bold;

    padding: 14px 29px;
}
.plan-main {position: relative;}
.plan-main:hover .overlay-plan {
  
    opacity: 1;
}
.opacity {
    opacity: 1;
}


/******** EmployeePage *******/

.inner-page h4 {text-align: center; color: #000000; font-size: 35px; font-family: open sans;}
.inner-page h4 span {
    margin-left: 15px;
    margin-right: 15px;
}
.q1 {
    color: #0d77ad;
    display: inline-block;
    font-family: open sans;
    font-size: 15px;
    margin-top: 35px;
    width: 100%;
}
.add-employee {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.add-employee .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 55px;
}
.add-employee .btn {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #4fc3ff 0%, #0376b0 100%) repeat scroll 0 0;
    border: 1px solid #0a7db7;
    border-radius: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    height: 45px;
    margin-top: 20px;
    text-shadow: none;
    width: 20%;
}
.add-employee .btn-default:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0a7db7;
    color: #0a7db7;
}
.add-employee .q2 {
    padding-left: 5px;
}
.add-employee label {
    font-family: open sans;
    font-weight: normal;
    
}
.form-horizontal.add-employee .control-label {
    padding-top: 8px;
}
.add-employee .form-group {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.add-employee .form-group:nth-child(5) {
    margin-bottom: 6px !important;
}

/****** new *****/
.inner-page .table-responsive {
    margin-top: 30px;
}
.table-responsive {
    border: 1px solid #cacaca;
}
.inner-page .table {
    margin-bottom: 0;
}
.inner-page thead {
    background: #00bff3;
    border: medium none;
    color: #fff;
}
.table tbody tr:nth-child(even) {
    background:#F1F0EE ;
}




/**** media start *****/

@media screen and (max-width: 800px) {
    .header .navbar li a { padding: 5px 10px; font-size: 12px;}
    .porro_inner {width: 80%;}
    .content a {margin:10px 0 20px; }
    .banner-innerpage h2 {font-size: 30px;}
    .register h3 {text-align: center;}
.banner-innerpage {
    left: 5%;
    }
    .banner-innerpage h2 {margin: 0;}
    .banner-bottom li {
    border-bottom: 1px solid #097cb6;
    display: table-cell;
    float: left;
    width: 50%;
}

 }


@media screen and (max-width: 480px) {
    .col-xs-4, .col-xs-8 {width: 100% !important;}
}