<%= render 'admin/layouts/application' %>
<div class="container">
	<ul >
		<li>
			<a href="/admin/subscription_plans">Subscription Plans</a>
		</li>
		<li>
			<a href="/admin/log_out">Logout</a>
		</li>
	</ul>
</div>
<%= render 'admin/layouts/footer' %>