<div class="footer">
              <div class="container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                    <select><option slected>Country</option></select>
                    <select><option slected>USD</option></select>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                    <h5>About Us</h5>
                    <span></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec purus feugiat, molestie ipsum et, consequat nibh. Etiam non elit dui. Nullam vel eros sit amet arcu vestibulum accumsan in in leo. Fusce malesuada vulputate faucibus. Integer in hendrerit nisi. Praesent a hendrerit urna. In non imperdiet elit, sed molestie odio. Fusce ac metus non purus sollicitudin laoreet. </p>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                    <h5>Company</h5>
                    <span></span>
                    <ul>
                      <li><a href="#">Home </a></li>
                      <li><a href="#">About Us </a></li>
                      <li><a href="#">Contact Us </a></li>
                      <li><a href="#">Login </a></li>
                      <li><a href="#">Register   </a></li>
                      <li><a href="#">Pricing </a></li>
                      
                    </ul>
                  </div>
                </div>
                <div class="row footer-bottom">
                  <h5>Join Us On</h5>
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i>
                    </a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i>
                    </a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i>
                    </a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i>
                    </a></li
                    
                  </ul>
                  <small>© EPS</small>
                </div>
              </div>
              </div><!-- end .footer -->
              
              <script type="text/javascript">
              $(document).ready(function(){
              	var cookieVal = getCookie('opentab');
              	if(cookieVal === 'login' || !cookieVal) {
              		$(".box-two").show();
              		$(".sign-up").hide();              
              	}else{
              		$(".box-two").hide();
              		$(".sign-up").show();              
              	}
              	$(".clickform").click(function(){
              		$(".box-two").toggle();
              		$(".sign-up").toggle();              
              	});

              });

              	function getCookie(name) {
				  var value = "; " + document.cookie;
				  var parts = value.split("; " + name + "=");
				  if (parts.length == 2) return parts.pop().split(";").shift();
				}
              </script>
            </body>
          </html>